<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    @for (users of allUsers; track users) {
    <tr>
      <td>{{ users.firstName }} {{ users.lastName }}</td>
      <td>{{ users.email }}</td>
      <td>{{ users.city }}</td>
    </tr>
    }
  </table>
</mat-card>
<button
  mat-fab
  color="primary"
  class="add-user-button"
  matTooltip="Add User"
  (click)="openDialog()"
  [matTooltipPosition]="position.value"
>
  <mat-icon>add</mat-icon>
</button>
