<mat-card>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    <tr>
      <td>John Doe</td>
      <td>YlT5&#64;example.com</td>
      <td>New York</td>
    </tr>
    <tr>
      <td>John Doe</td>
      <td>YlT5&#64;example.com</td>
      <td>New York</td>
    </tr>
  </table>
</mat-card>
<button
  mat-fab
  color="primary"
  class="add-user-button"
  matTooltip="Add User"
  (click)="openDialog()"
  [matTooltipPosition]="position.value"
>
  <mat-icon>add</mat-icon>
</button>
