<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container"><img src="./assets/img/logo.svg" alt="" /></div>
    <ul class="menu-item">
      <li routerLink="/" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>Dashboard
      </li>
      <li routerLink="user" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>User
      </li>
    </ul>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>

        <span>My CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
